@import 'tailwindcss';

@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900 min-h-screen;
  }
}

.layout-center {
  @apply bg-gray-50 dark:bg-gray-900 min-h-screen flex items-center justify-center;
}
